<?xml version="1.0"?>
<configuration>
      <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChangeIPAdress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChangeIPAdress.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LanguageSpanish" serializeAs="String">
                <value>es-MX</value>
            </setting>
            <setting name="LanguageEnglish" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ConnectionDB" serializeAs="String">
                <value>Data Source=.\Setting\settings.s3db</value>
            </setting>
        </ChangeIPAdress.Properties.Settings>
    </userSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
